@keyframes animate-Arm-walking {
  12% {
    background-image: url(/img/exercises/Arm-walking.png);
  }
  25% {
    background-image: url(/img/exercises/Arm-walking2.png);
  }
  37% {
    background-image: url(/img/exercises/Arm-walking3.png);
  }
  50% {
    background-image: url(/img/exercises/Arm-walking4.png);
  }
  62% {
    background-image: url(/img/exercises/Arm-walking4.png);
  }
  75% {
    background-image: url(/img/exercises/Arm-walking3.png);
  }
  87% {
    background-image: url(/img/exercises/Arm-walking2.png);
  }
  100% {
    background-image: url(/img/exercises/Arm-walking.png);
  }
}
@keyframes animate-Bench-squat {
  12% {
    background-image: url(/img/exercises/Bench-squat.png);
  }
  25% {
    background-image: url(/img/exercises/Bench-squat2.png);
  }
  37% {
    background-image: url(/img/exercises/Bench-squat3.png);
  }
  50% {
    background-image: url(/img/exercises/Bench-squat4.png);
  }
  62% {
    background-image: url(/img/exercises/Bench-squat4.png);
  }
  75% {
    background-image: url(/img/exercises/Bench-squat3.png);
  }
  87% {
    background-image: url(/img/exercises/Bench-squat2.png);
  }
  100% {
    background-image: url(/img/exercises/Bench-squat.png);
  }
}
@keyframes animate-Bench-step {
  12% {
    background-image: url(/img/exercises/Bench-step.png);
  }
  25% {
    background-image: url(/img/exercises/Bench-step2.png);
  }
  37% {
    background-image: url(/img/exercises/Bench-step3.png);
  }
  50% {
    background-image: url(/img/exercises/Bench-step4.png);
  }
  62% {
    background-image: url(/img/exercises/Bench-step4.png);
  }
  75% {
    background-image: url(/img/exercises/Bench-step3.png);
  }
  87% {
    background-image: url(/img/exercises/Bench-step2.png);
  }
  100% {
    background-image: url(/img/exercises/Bench-step.png);
  }
}
@keyframes animate-Bodywieght-crunches {
  12% {
    background-image: url(/img/exercises/Bodywieght-crunches.png);
  }
  25% {
    background-image: url(/img/exercises/Bodywieght-crunches2.png);
  }
  37% {
    background-image: url(/img/exercises/Bodywieght-crunches3.png);
  }
  50% {
    background-image: url(/img/exercises/Bodywieght-crunches4.png);
  }
  62% {
    background-image: url(/img/exercises/Bodywieght-crunches4.png);
  }
  75% {
    background-image: url(/img/exercises/Bodywieght-crunches3.png);
  }
  87% {
    background-image: url(/img/exercises/Bodywieght-crunches2.png);
  }
  100% {
    background-image: url(/img/exercises/Bodywieght-crunches.png);
  }
}
@keyframes animate-Burpee {
  12% {
    background-image: url(/img/exercises/Burpee.png);
  }
  25% {
    background-image: url(/img/exercises/Burpee2.png);
  }
  37% {
    background-image: url(/img/exercises/Burpee3.png);
  }
  50% {
    background-image: url(/img/exercises/Burpee4.png);
  }
  62% {
    background-image: url(/img/exercises/Burpee4.png);
  }
  75% {
    background-image: url(/img/exercises/Burpee3.png);
  }
  87% {
    background-image: url(/img/exercises/Burpee2.png);
  }
  100% {
    background-image: url(/img/exercises/Burpee.png);
  }
}
@keyframes animate-Crunches-clap {
  12% {
    background-image: url(/img/exercises/Crunches-clap.png);
  }
  25% {
    background-image: url(/img/exercises/Crunches-clap2.png);
  }
  37% {
    background-image: url(/img/exercises/Crunches-clap3.png);
  }
  50% {
    background-image: url(/img/exercises/Crunches-clap4.png);
  }
  62% {
    background-image: url(/img/exercises/Crunches-clap4.png);
  }
  75% {
    background-image: url(/img/exercises/Crunches-clap3.png);
  }
  87% {
    background-image: url(/img/exercises/Crunches-clap2.png);
  }
  100% {
    background-image: url(/img/exercises/Crunches-clap.png);
  }
}
@keyframes animate-Flutter-kick {
  12% {
    background-image: url(/img/exercises/Flutter-kick.png);
  }
  25% {
    background-image: url(/img/exercises/Flutter-kick2.png);
  }
  37% {
    background-image: url(/img/exercises/Flutter-kick3.png);
  }
  50% {
    background-image: url(/img/exercises/Flutter-kick4.png);
  }
  62% {
    background-image: url(/img/exercises/Flutter-kick4.png);
  }
  75% {
    background-image: url(/img/exercises/Flutter-kick3.png);
  }
  87% {
    background-image: url(/img/exercises/Flutter-kick2.png);
  }
  100% {
    background-image: url(/img/exercises/Flutter-kick.png);
  }
}
@keyframes animate-High-knee-taps {
  12% {
    background-image: url(/img/exercises/High-knee-taps.png);
  }
  25% {
    background-image: url(/img/exercises/High-knee-taps2.png);
  }
  37% {
    background-image: url(/img/exercises/High-knee-taps3.png);
  }
  50% {
    background-image: url(/img/exercises/High-knee-taps4.png);
  }
  62% {
    background-image: url(/img/exercises/High-knee-taps4.png);
  }
  75% {
    background-image: url(/img/exercises/High-knee-taps3.png);
  }
  87% {
    background-image: url(/img/exercises/High-knee-taps2.png);
  }
  100% {
    background-image: url(/img/exercises/High-knee-taps.png);
  }
}
@keyframes animate-Jumping-jacks {
  12% {
    background-image: url(/img/exercises/Jumping-jacks.png);
  }
  25% {
    background-image: url(/img/exercises/Jumping-jacks2.png);
  }
  37% {
    background-image: url(/img/exercises/Jumping-jacks3.png);
  }
  50% {
    background-image: url(/img/exercises/Jumping-jacks4.png);
  }
  62% {
    background-image: url(/img/exercises/Jumping-jacks4.png);
  }
  75% {
    background-image: url(/img/exercises/Jumping-jacks3.png);
  }
  87% {
    background-image: url(/img/exercises/Jumping-jacks2.png);
  }
  100% {
    background-image: url(/img/exercises/Jumping-jacks.png);
  }
}
@keyframes animate-Jump-lunge {
  12% {
    background-image: url(/img/exercises/Jump-lunge.png);
  }
  25% {
    background-image: url(/img/exercises/Jump-lunge2.png);
  }
  37% {
    background-image: url(/img/exercises/Jump-lunge3.png);
  }
  50% {
    background-image: url(/img/exercises/Jump-lunge4.png);
  }
  62% {
    background-image: url(/img/exercises/Jump-lunge4.png);
  }
  75% {
    background-image: url(/img/exercises/Jump-lunge3.png);
  }
  87% {
    background-image: url(/img/exercises/Jump-lunge2.png);
  }
  100% {
    background-image: url(/img/exercises/Jump-lunge.png);
  }
}
@keyframes animate-Leg-raises {
  12% {
    background-image: url(/img/exercises/Leg-raises.png);
  }
  25% {
    background-image: url(/img/exercises/Leg-raises2.png);
  }
  37% {
    background-image: url(/img/exercises/Leg-raises3.png);
  }
  50% {
    background-image: url(/img/exercises/Leg-raises4.png);
  }
  62% {
    background-image: url(/img/exercises/Leg-raises4.png);
  }
  75% {
    background-image: url(/img/exercises/Leg-raises3.png);
  }
  87% {
    background-image: url(/img/exercises/Leg-raises2.png);
  }
  100% {
    background-image: url(/img/exercises/Leg-raises.png);
  }
}
@keyframes animate-Push-ups {
  12% {
    background-image: url(/img/exercises/Push-ups.png);
  }
  25% {
    background-image: url(/img/exercises/Push-ups2.png);
  }
  37% {
    background-image: url(/img/exercises/Push-ups3.png);
  }
  50% {
    background-image: url(/img/exercises/Push-ups4.png);
  }
  62% {
    background-image: url(/img/exercises/Push-ups4.png);
  }
  75% {
    background-image: url(/img/exercises/Push-ups3.png);
  }
  87% {
    background-image: url(/img/exercises/Push-ups2.png);
  }
  100% {
    background-image: url(/img/exercises/Push-ups.png);
  }
}
@keyframes animate-Rotating-punch {
  12% {
    background-image: url(/img/exercises/Rotating-punch.png);
  }
  25% {
    background-image: url(/img/exercises/Rotating-punch2.png);
  }
  37% {
    background-image: url(/img/exercises/Rotating-punch3.png);
  }
  50% {
    background-image: url(/img/exercises/Rotating-punch4.png);
  }
  62% {
    background-image: url(/img/exercises/Rotating-punch4.png);
  }
  75% {
    background-image: url(/img/exercises/Rotating-punch3.png);
  }
  87% {
    background-image: url(/img/exercises/Rotating-punch2.png);
  }
  100% {
    background-image: url(/img/exercises/Rotating-punch.png);
  }
}
@keyframes animate-Shoulder-touch {
  12% {
    background-image: url(/img/exercises/Shoulder-touch.png);
  }
  25% {
    background-image: url(/img/exercises/Shoulder-touch2.png);
  }
  37% {
    background-image: url(/img/exercises/Shoulder-touch3.png);
  }
  50% {
    background-image: url(/img/exercises/Shoulder-touch4.png);
  }
  62% {
    background-image: url(/img/exercises/Shoulder-touch4.png);
  }
  75% {
    background-image: url(/img/exercises/Shoulder-touch3.png);
  }
  87% {
    background-image: url(/img/exercises/Shoulder-touch2.png);
  }
  100% {
    background-image: url(/img/exercises/Shoulder-touch.png);
  }
}
@keyframes animate-Spider {
  12% {
    background-image: url(/img/exercises/Spider.png);
  }
  25% {
    background-image: url(/img/exercises/Spider2.png);
  }
  37% {
    background-image: url(/img/exercises/Spider3.png);
  }
  50% {
    background-image: url(/img/exercises/Spider4.png);
  }
  62% {
    background-image: url(/img/exercises/Spider4.png);
  }
  75% {
    background-image: url(/img/exercises/Spider3.png);
  }
  87% {
    background-image: url(/img/exercises/Spider2.png);
  }
  100% {
    background-image: url(/img/exercises/Spider.png);
  }
}
@keyframes animate-T-rotation {
  12% {
    background-image: url(/img/exercises/T-rotation.png);
  }
  25% {
    background-image: url(/img/exercises/T-rotation2.png);
  }
  37% {
    background-image: url(/img/exercises/T-rotation3.png);
  }
  50% {
    background-image: url(/img/exercises/T-rotation4.png);
  }
  62% {
    background-image: url(/img/exercises/T-rotation4.png);
  }
  75% {
    background-image: url(/img/exercises/T-rotation3.png);
  }
  87% {
    background-image: url(/img/exercises/T-rotation2.png);
  }
  100% {
    background-image: url(/img/exercises/T-rotation.png);
  }
}
@keyframes animate-Up-and-down-plank {
  12% {
    background-image: url(/img/exercises/Up-and-down-plank.png);
  }
  25% {
    background-image: url(/img/exercises/Up-and-down-plank2.png);
  }
  37% {
    background-image: url(/img/exercises/Up-and-down-plank3.png);
  }
  50% {
    background-image: url(/img/exercises/Up-and-down-plank4.png);
  }
  62% {
    background-image: url(/img/exercises/Up-and-down-plank4.png);
  }
  75% {
    background-image: url(/img/exercises/Up-and-down-plank3.png);
  }
  87% {
    background-image: url(/img/exercises/Up-and-down-plank2.png);
  }
  100% {
    background-image: url(/img/exercises/Up-and-down-plank.png);
  }
}
@keyframes animate-V-sit-static-holds {
  12% {
    background-image: url(/img/exercises/V-sit-static-holds.png);
  }
  25% {
    background-image: url(/img/exercises/V-sit-static-holds2.png);
  }
  37% {
    background-image: url(/img/exercises/V-sit-static-holds3.png);
  }
  50% {
    background-image: url(/img/exercises/V-sit-static-holds4.png);
  }
  62% {
    background-image: url(/img/exercises/V-sit-static-holds4.png);
  }
  75% {
    background-image: url(/img/exercises/V-sit-static-holds3.png);
  }
  87% {
    background-image: url(/img/exercises/V-sit-static-holds2.png);
  }
  100% {
    background-image: url(/img/exercises/V-sit-static-holds.png);
  }
}
@keyframes animate-Windshield-wipers {
  12% {
    background-image: url(/img/exercises/Windshield-wipers.png);
  }
  25% {
    background-image: url(/img/exercises/Windshield-wipers2.png);
  }
  37% {
    background-image: url(/img/exercises/Windshield-wipers3.png);
  }
  50% {
    background-image: url(/img/exercises/Windshield-wipers4.png);
  }
  62% {
    background-image: url(/img/exercises/Windshield-wipers4.png);
  }
  75% {
    background-image: url(/img/exercises/Windshield-wipers3.png);
  }
  87% {
    background-image: url(/img/exercises/Windshield-wipers2.png);
  }
  100% {
    background-image: url(/img/exercises/Windshield-wipers.png);
  }
}