.Bench-squat {
  background-image: url(/img/exercises/Bench-squat.png);
  &:hover {
    animation: animate-Bench-squat 1s infinite;
  }
}
.Bodywieght-crunches {
  background-image: url(/img/exercises/Bodywieght-crunches.png);
  &:hover {
    animation: animate-Bodywieght-crunches 1s infinite;
  }
}
.Burpee {
  background-image: url(/img/exercises/Burpee.png);
  &:hover {
    animation: animate-Burpee 1.5s infinite;
    -webkit-animation: animate-Burpee 1.5s infinite;
  }
}
.Crunches-clap {
  background-image: url(/img/exercises/Crunches-clap.png);
  &:hover {
    animation: animate-Crunches-clap 1.5s infinite;
    -webkit-animation: animate-Crunches-clap 1.5s infinite;
  }
}
.High-knee-taps {
  background-image: url(/img/exercises/High-knee-taps.png);
  &:hover {
    animation: animate-High-knee-taps 1s infinite;
  }
}
.Jumping-jacks {
  background-image: url(/img/exercises/Jumping-jacks.png);
  &:hover {
    animation: animate-Jumping-jacks 1s infinite;
    -webkit-animation: animate-Jumping-jacks 1s infinite;
  }
}
.Leg-raises {
  background-image: url(/img/exercises/Leg-raises.png);
  &:hover {
    animation: animate-Leg-raises 1.5s infinite;
    -webkit-animation: animate-Leg-raises 1.5s infinite;
  }
}
.Push-ups {
  background-image: url(/img/exercises/Push-ups.png);
  &:hover {
    animation: animate-Push-ups 1s infinite;
  }
}
.Rotating-punch {
  background-image: url(/img/exercises/Rotating-punch.png);
  &:hover {
    animation: animate-Rotating-punch 1.5s infinite;
    -webkit-animation: animate-Rotating-punch 1.5s infinite;
  }
}
.Spider {
  background-image: url(/img/exercises/Spider.png);
  &:hover {
    animation: animate-Spider 1.5s infinite;
    -webkit-animation: animate-Spider 1.5s infinite;
  }
}
.T-rotation {
  background-image: url(/img/exercises/T-rotation.png);
  &:hover {
    animation: animate-T-rotation 2s infinite;
    -webkit-animation: animate-T-rotation 2s infinite;
  }
}
.V-sit-static-holds {
  background-image: url(/img/exercises/V-sit-static-holds.png);
  &:hover {
    animation: animate-V-sit-static-holds 1s infinite;
  }
}
.Up-and-down-plank {
  background-image: url(/img/exercises/Up-and-down-plank.png);
  &:hover {
    animation: animate-Up-and-down-plank 1.5s infinite;
    -webkit-animation: animate-Up-and-down-plank 1.5s infinite;
  }
}
.Jump-lunge {
  background-image: url(/img/exercises/Jump-lunge.png);
  &:hover {
    animation: animate-Jump-lunge 1.5s infinite;
    -webkit-animation: animate-Jump-lunge 1.5s infinite;
  }
}

.Flutter-kick {
  background-image: url(/img/exercises/Flutter-kick.png);
  &:hover {
    animation: animate-Flutter-kick 1s infinite;
  }
}
.Arm-walking {
  background-image: url(/img/exercises/Arm-walking.png);
  &:hover {
    animation: animate-Arm-walking 2s infinite;
    -webkit-animation: animate-Arm-walking 2s infinite;
  }
}

.Windshield-wipers {
  background-image: url(/img/exercises/Windshield-wipers.png);
  &:hover {
    animation: animate-Windshield-wipers 2s infinite;
    -webkit-animation: animate-Windshield-wipers 2s infinite;
  }
}
.Bench-step {
  background-image: url(/img/exercises/Bench-step.png);
  &:hover {
    animation: animate-Bench-step 1.5s infinite;
    -webkit-animation: animate-Bench-step 1.5s infinite;
  }
}
.Shoulder-touch {
  background-image: url(/img/exercises/Shoulder-touch.png);
  &:hover {
    animation: animate-Shoulder-touch 1.5s infinite;
    -webkit-animation: animate-Shoulder-touch 1.5s infinite;
  }
}
