#home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/img/anastase-maragos-7kEpUPB8vNk-unsplash.jpg");
  background-size: cover;
  position: relative;
  .hero-text {
    margin-top: 170px;
  }
  h1 {
    color: white;
    font-size: 3rem;
    font-weight: 100;
    max-width: 550px;
    margin-bottom: 2rem;
  }

  .social-contact {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  ul {
    display: flex;
  }
  li {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: $gray;
    :hover {
      color: $red;
    }
  }
}
